@charset "utf-8";
/* CSS Document */

body{
	background:#08182b;
	margin: 0px;
}

#contenedor{
	width:100%;
	background: #f0f5f9;
	margin: 10px auto;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}

header{
	height:83px;
	width: 100%;
	background:#004e66;
}

.elmundo{
	color: #fff;
	font-family: "Shadows Into Light";
	font-size:200%;
	display:inline-block;
	margin: 10px 0 0 50px;
}

nav {
	display:inline-block;
	color:#fff;
	float: right;
	padding:15px 0 0 0;
}

nav li	{
		display:inline-block;
		margin: 0 10px;
		border-right: 1px #ccc double;
		padding-right:10px;
		font-family: "Dosis";
		}

nav li a {
	color: #000;
	text-decoration: none;
	transition: all 0.2s linear;
	}
nav li a:hover {
	color: #ffffff;
	text-decoration: none;

	}



h1 {
	font-family:"Raleway";
	color:#ee2560;

}

h3{

	font-family:"Playfair Display";


}

p{
	font-family:"Philosopher";
	color:#005f6b;
}

.div1{
	position:relative;
	background-color: none;
	width:430px;
	display:inline-block;
	margin:0 10px 0 10px;
}

.div2{
	position:absolute;
	background-color: none;
	width:430px;
	display:inline-block;
	padding-top:100px;
}

.div3{
	position:relative;
	background-color: none;
	width:430px;
	display:inline-block;
	margin:0 18px 0 10px;
}

.div4{
	position:absolute;
	background-color: none;
	width:430px;
	display:inline-block;
	padding-top:10px;
}

.div5{
	position:relative;
	background-color: none;
	width:430px;
	display:inline-block;
	margin:30px 18px 0 10px;
}

.div6{
	position:absolute;
	background-color: none;
	width:430px;
	display:inline-block;
	padding-top:10px;
}
summary{
	padding-left:30px;
	font-family:"Shadows Into Light";
	color: #004e66;
	font-size: 18px;
	}

.sumy{
	width: 240px;
	display: inline-block;
	position:absolute;
	padding:30px;
}
section section{
	width: 100%;
}
.contacto{
	background-color: none;
	height: 250px;
	text-align: center;
	width: 100%;

}

.videos{
	margin: 170px;

}

footer{
	background:#004e66;
	color: #fff;
	font-family: "Raleway";
	text-align: center;
	width: 100%;
	padding: 20px 0px;
}
section.footer{
	width: 100%;
}
section{
	width: 60%;
}
@media onlyscreen and (max-whidth: 992px) {

	#contenedor{
	width:100%;
	}

}
